<nav class="navbar-wagon navbar-wagon-fixed">
  <div class="container navbar-wagon-container">

    <span href="" class="navbar-wagon-date">
      <i class="fa fa-dollar"></i> Mon. 12th Sept (14th day)
    </span>
    <div action="" class="navbar-wagon-search"></div>
    <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link hidden-xs" do %>
      Leader board
<!--       <div class="icon-badge-container">
        <i class="fa fa-star-o"></i>
        <div class="icon-badge icon-badge-blue">3</div>
      </div> -->
    <% end %>
    <hr>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <span class="dropdown-toggle navbar-wagon-link" data-toggle="dropdown">Profile</span>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-user"></i> <%= t ".profile", default: "Dashboard" %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-home"></i>  <%= t ".profile", default: "Logout" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
