<!-- treasury information -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center">Cash</h2>
      <div class="dashboard-box">
        <div class="dashboard-box-item">
          <h3><%= @prev_current_cash %>€</h3>
          <span>Beginning of the day</span>
        </div>
        <div class="dashboard-box-item">
          <h3 class="<%= (-500 > 0) ? 'green' : 'red'%>"><%= @net_result_today %>€</h3>
          <span>Net results today</span>
        </div>
        <div class="dashboard-box-item">
          <h3><%= @enterprise.current_cash %>€</h3>
          <span>Estimated treasury</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center">Production</h2>
      <div class="dashboard-box">
        <div class="dashboard-box-item">
          <h3 data-toggle="tooltip" data-placement="top" title="<%= @previous_backlog%> unproduced items from yesterday."><%= @previous_backlog%> items</h3>
          <span>orders backlog</span>
        </div>
        <div class="dashboard-box-item">
          <h3><%= @today_orders_received %> items</h3>
          <span>orders today</span>
        </div>
        <div class="dashboard-box-item">
          <h3><%= @total_to_produce_today%> items</h3>
          <span>total</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center">Costs</h2>

      <div class="resource-card">
        <div class="resource-card-item resource-card-number">
          <p data-toggle="tooltip" data-placement="top" title="<%= print_number_of_employees(@current_number_of_employees) %>"><%= @current_number_of_employees %> X <i class="fa fa-users"></i></p>
        </div>
        <div class="resource-card-item">
          <p><%= @cost_of_salaries_for_today %>€</p>
          <span>(100€ / day)</span>
        </div>
      </div>
      <div class="resource-card">
        <div class="resource-card-item resource-card-number">
          <p data-toggle="tooltip" data-placement="top" title="You need to buy <%= @today_orders_received %> items"><%= @today_orders_received %> X <i class="fa fa-industry"></i></p>
        </div>
        <div class="resource-card-item">
          <p><%= @cost_of_raw_materials_for_today %>€</p>
          <span>(<%= @gamesession.material_cost %>€ / item)</span>
        </div>
      </div>

      <div class="resource-card">
        <div class="resource-card-item resource-card-number">
          <p data-toggle="tooltip" data-placement="top" title="Costs for hirings and layoffs">Hire/Layoffs</p>
        </div>
        <div class="resource-card-item">
          <p><%= @cost_of_hiring_and_firing_for_today %>€</p>
          <span data-toggle="tooltip" data-placement="right" title="Hiring 1 employee costs <%=@gamesession.hiring_cost%>€; firing one costs <%=@gamesession.firing_cost%>€"><%=@gamesession.hiring_cost%>€/<%=@gamesession.firing_cost%>€</span>
        </div>
      </div>
      <div class="resource-card">
        <div class="resource-card-item resource-card-number">
          <p>Total</p>
        </div>
        <div class="resource-card-item">
          <p><%= @total_money_spent_today %>€</p>
        </div>
      </div>
    </div>
<!-- ORDERS -->
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center">Orders</h2>
      <div class="orders">
        <div class="detail">
          <p>Currently selected contract:
            <span><%= @contract.name %></span>
            <p>(delivery within <%= @contract.timeframe %> days)</p>
          </p>
        </div>
        <div class="detail">
          <p>Days until today's order delivery
            <span><%= @when_can_todays_orders_be_delivered %></span>
          </p>
        </div>
      </div>
    </div>
<!-- /ORDERS -->
  </div>
</div>

<script>
$(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
});
</script>
