<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center">Cash</h2>
      <div class="dashboard-box">
        <div class="dashboard-box-item">
          <h3><%= @enterprise.current_cash %>€</h3>
          <span>Beginning of the day</span>
        </div>
        <div class="dashboard-box-item">
          <h3 class="<%= (@net_result_today > 0) ? 'green' : 'red'%>"><%= @net_result_today %>€</h3>
          <span>Estimated Net Result today</span>
        </div>
        <div class="dashboard-box-item">
          <h3><%= @enterprise.est_new_cash %>€</h3>
          <span>Estimated treasury</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center">Production (Actual status)</h2>
      <div class="dashboard-box">
        <div class="dashboard-box-item">
          <h3 data-toggle="tooltip" data-placement="top" title="<%= @previous_backlog%> unproduced items from yesterday."><%= @enterprise.current_backlog%> items</h3>
          <span>Workshop Backlog</span>
        </div>
        <div class="dashboard-box-item">
          <h3><%= @gamesession.orders[@current_day] %> items</h3>
          <span>Orders today</span>
        </div>
        <div class="dashboard-box-item">
          <h3><%= @enterprise.current_to_produce%> items</h3>
          <span>Total to produce</span>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
  <!-- SALES -->
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center">Sales</h2>
      <div class="dashboard-box">
        <div class="dashboard-box-item">
          <h3 data-toggle="tooltip" data-placement="top" title="<%= @previous_backlog%> unproduced items from yesterday."><%= Contract.find(@enterprise.current_contract_id).name.capitalize%> </h3>
          <span>Current Contract</span>
        </div>
        <div class="dashboard-box-item">
          <h3><%= Contract.find(@enterprise.current_contract_id).price %> €/item</h3>
          <span>Price per item</span>
        </div>
        <div class="dashboard-box-item">
          <h3><%= @enterprise.est_total_sales_today %> €</h3>
          <span>Sales</span>
        </div>
      </div>
    </div>
    <!-- CONT PROD -->
    <div class="col-xs-12 col-sm-6">
      <h2 class="text-center">Production (estimations for today)</h2>
      <div class="dashboard-box">
        <div class="dashboard-box-item">
          <h3 data-toggle="tooltip" data-placement="top" title="<%= @enterprise.current_employees%>people x <%= @gamesession.productivity_per_employee%>.items/emp/day"><%= @enterprise.current_prod_capacity%> items</h3>
          <span>Production Capacity</span>
        </div>
        <div class="dashboard-box-item">
          <h3><%= @enterprise.est_manufactured_today %> items</h3>
          <span>Est prod Today</span>
        </div>
        <div class="dashboard-box-item">
          <h3><%= @enterprise.est_new_backlog %> items</h3>
          <span>Est.backlog for today</span>
        </div>
      </div>
    </div>
  </div>

  <!-- PRODUCTION 2 -->
  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <%= render "costs" %>

    </div>
<!-- ORDERS -->
    <div class="col-xs-12 col-sm-6">
      <div class="dashboard-form">
        <div class="dashboard-control">
          <div class="dashboard-control-label">
            <h3>Delay <i class="fa fa-clock-o pull-right"></i></h3>
          </div>
          <div class="dashboard-control-input text-right">
            <%= @enterprise.est_delivery_time + 1 %> days
          </div>
        </div>
<% if false %>
        <div class="dashboard-control text-center">
          <div class="dashboard-control-title">
            <h3>Decision</h3>
          </div>
        </div>
<% end %>
        <div class="dashboard-control">
          <div class="dashboard-control-label">
           <h3>Contract <i class="fa fa-book pull-right"></i></h3>
          </div>
          <div class="dashboard-control-input text-right">
            <input type="checkbox" id="toggle" data-toggle="toggle" data-off="court" data-onstyle="danger" data-on="long" data-offstyle="success" name="enterprise[contract]">
          </div>
          <%= f.input :new_contract_id, as: :hidden, input_html: {value: @contract.id}  %>
        </div>
        <div class="dashboard-control">
          <div class="dashboard-control-label">
            <h3><span class="employee_variation label label-default">0</span> x employees <i class="fa fa-users pull-right"></i></h3>
          </div>
          <div class="dashboard-control-input text-right">
            <ul class="list-inline">
              <li><a href="" class="btn btn-default" id="buttonsplus"><i class="fa fa-plus"></i></a></li>
              <li><a href="" class="btn btn-default" id="buttonsminus"><i class="fa fa-minus"></i></a></li>
              <%= f.input :employees_variation, as: :hidden, input_html: {value: '0'} %>
            </ul>
          </div>
        </div>
      </div>
      <% if false %>
        <p>Currently selected contract:</p>
        <span><%= @contract.name %></span>
        <p>(delivery within <%= @contract.timeframe %> days)</p>
      <% end %>
<%#= f.button :submit, class: "btn btn-success margined" %>
    </div>
<!-- /ORDERS -->
  </div>
</div>




<%= content_for(:js) do %>
  <script>
  $(document).ready(function() {
// Tooltips         //////////////////////////////////////
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
////////////////////////////////////



// Toggle contract //////////////////////////////
    $('#toggle').bootstrapToggle({
      on: "long",
      off: "court"
    });

    var contractId = <%= @contract.id %>;
      if (contractId == 2) {
        $('#toggle').bootstrapToggle("on");
      }

    $('#toggle').change(function() {
      var contractId = $("#game_decision_new_contract_id").val();
        if (contractId == 1) {
          $("#game_decision_new_contract_id").val(2);
          $(".contract_name").text("long");
        } else {
          $("#game_decision_new_contract_id").val(1);
          $(".contract_name").text("court");
        }
      });
//////////////////////////////////////////



// Employee variation ////////////////////
var employeescount = <%= @current_number_of_employees %>;
var employeessalaries = <%= @current_number_of_employees %> * <%= @gamesession.salary_per_employee %>;
    $("#buttonsplus").click(function(e){
      e.preventDefault();
      var variation = parseInt($("#game_decision_employees_variation").val());
      $("#game_decision_employees_variation").val( variation + 1);
      $(".employee_variation").text(variation + 1);
      var employeessalariestomorrow = (employeescount + variation + 1) * <%= @gamesession.salary_per_employee %>
      $(".employeessalariestomorrow").text(employeessalariestomorrow+"€");
    });

    $("#buttonsminus").click(function(e){
      e.preventDefault();
      var variation = parseInt($("#game_decision_employees_variation").val());
      $("#game_decision_employees_variation").val( variation - 1);
      $(".employee_variation").text(variation - 1);
      var employeessalariestomorrow = (employeescount + variation - 1) * <%= @gamesession.salary_per_employee %>
      $(".employeessalariestomorrow").text(employeessalariestomorrow+"€");
    });
  });
//////////////////////////////////////////
  </script>
<% end %>


<%# raise %>



