<%= simple_form_for [@enterprise, @game_decision], url: enterprise_game_decisions_path(@enterprise), method: :post do |f| %>
  <div class="container-fluid padding-none total-height">
    <div class="row margin-none total-height">
      <div class="col-md-2 enterprise-profile border-column text-center total-height">
        <%= @enterprise.name %>
        <hr>
      <h4>Here's how you're doing:</h4>

      <div class="flexcontainer">
        <%  @others.each do |other| %>
          <div class="flexuser">
            <div id="otherenterprises">
              <h3><%= other.name %></h3>
            </div>
            <div>
              <div id="avatar"></div>
            </div>
            <div id="playerscore">
              <h5>5 points</h5>
            </div>
          </div>
        <% end %>
      </div>

    <!--     Voir les performances des autres entreprises (seulement leurs liquidités)
        Calcul des gains
          du jour (+/-)
          depuis le début de la session
     -->

      </div>


  <!-- MIDDLE OF THE PAGE (ENTERPRISE) -->
      <div class="col-md-7 enterprise-middle border-column text-center total-height">
        <h1 class="text-center">Entreprise</h1>
        <hr>
        <hr>
        <div class="enterprise-design">
          <div class="enterprise-arrow">
            <%= image_tag "arrow-right.png", width:"50" %>
          </div>
          <div class="enterprise-orders">
            <%= image_tag "orders.png", width:"100" %>
            <%= image_tag "contract.png", width:"100", class:"block" %>
            <%= f.select :new_contract_id, [["long", Contract.find_by(name: "long").id], ["court", Contract.find_by(name: "court").id]] %>
          </div>
          <div class="enterprise-workshop">
            <%= image_tag "workshop.png", width:"200" %>
            <div id="buttonsplus" class="btn btn-success">Hire</div>
            <div id="buttonsminus" class="btn btn-danger">Fire</div></br>
            <%= f.input :employees_variation %>
            <div class="displaycost">
              <span id="totalcosttext">
                Total cost:
              </span>
              <span id="totalcost">0€</span>
            </div>
            <%= f.button :submit, class: "btn btn-success" %>
          </div>
          <div class="enterprise-arrow">
            <%= image_tag "arrow-right.png", width:"50" %>
          </div>
          <div class="enterprise-box">
            <%= image_tag "box.png", width:"80" %>
          </div>
          <div class="enterprise-arrow">
            <%= image_tag "arrow-right.png", width:"50" %>
          </div>
          <div class="enterprise-customer">
            <%= image_tag "customer.png", width:"100" %>
          </div>
        </div>
    </div>

    <script type="text/javascript">
    var counter = 0;

    $("#buttonsplus").click(function(){
        counter ++;
        $("#game_decision_employees_variation").val(counter);
        salaries = counter * <%= @gamesession.hiring_cost %>;
        $("#totalcost").text(salaries + "€");
    });

    $("#buttonsminus").click(function(){
        counter --;
        $("#game_decision_employees_variation").val(counter);
        salaries = counter * <%= @gamesession.firing_cost %>;
        $("#totalcost").text(salaries + "€");
    });
    </script>


  <!-- /END MIDDLE OF THE PAGE (ENTERPRISE) -->




      <div class="col-md-3 enterprise-indicators border-column text-center total-height">
        <div class="bg-white text-center margin-center padding-top-bottom">
          <h2>Etat de mon entreprise</h2>
          <div class="card-indicator text-center">
            <p class="card-title card-item"><i class="fa fa-users"></i> <strong>Nb employés</strong></p>
            <p class="card-value card-item"><strong> <%= @employees %> </strong></p>
          </div>
          <div class="card-indicator text-center">
            <p class="card-title card-item"><i class="fa fa-sign-out"></i> </i><strong>Capacité de production</strong></p>
            <p class="card-value card-item"><strong><%= @gamesession.productivity_per_employee %> (p/jour)</strong></p>
          </div>
          <div class="card-indicator text-center">
            <p class="card-title card-item"><i class="fa fa-hourglass-half"> </i><strong>File d'attente</strong></p>
            <p class="card-value card-item"><strong> 10 </strong></p>
          </div>
          <div class="card-indicator text-center">
            <p class="card-title card-item"><i class="fa fa-money"></i> <strong>Cash disponible</strong></p>
            <p class="card-value card-item"><strong> 1000 Euros </strong></p>
          </div>
        </div>
    <!-- TODO : add links to graphics with history -->

    <!--     Accéder aux indicateurs
        Nombre d'employés
        Capacité de production
        Liquidité
        Evolution depuis le début de la session
        File d’attente des commandes
        Calcul des gains
          du jour (+/-)
          depuis le début de la session
     -->
      </div>
    </div>


    <!-- En tant qu’élève je peux:

    -->
  </div>
<% end %>
