<h1><%= @previous_day %></h1>


<%= simple_form_for [@enterprise,@game_decision] do |f| %>
  <%= f.input :day_of_decision %>
  <%= f.input :employees_variation %>
  <%= f.input :new_contract_id %>
  <%= f.button :submit %>
<% end %>
